
html, body, #tbl_wrap {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #BCC0C5;
}

#td_wrap {
    vertical-align: middle;
    text-align: center;
}

@keyframes init_fade_in {
    from {
        color: #BCC0C5;
    }
    to {
        color: #57626D;
    }
}

#main_name {
    color: #BCC0C5;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5em;
    animation-name: init_fade_in;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes init_board_in {
    from {
        height: 0px;
    }
    to {
        height: 100px;
    }
}

#button_board {
    margin: auto;
    width: 50%;
    padding: 10px;
    animation-name: init_board_in;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.menu_button {
    color: #BCC0C5;
    animation-name: init_fade_in;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.material-icons {
    font-size: 36px;
}

@keyframes fade_out {
    from {
        color: #57626D;
    }
    to {
        color: #BCC0C5;
    }
}

