/* CSS for all non-index pages */

/* Additional CSS */
@keyframes fade_in_with_border {
    from {
        color: #57626D;
        border: 2px solid #57626D;
    }
    to {
        color: #BCC0C5;
        border: 2px solid #BCC0C5;
    }
}

@keyframes no_animation {
}

#head_name {
    height: auto;
    color: #BCC0C5;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    padding: 15px;
    margin: 20px;
    border-radius: 2px;
    border: 2px solid #BCC0C5;
    display: inline-block;
    animation-name: fade_in_with_border;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.material-icons { color: rgba(87, 98, 109, 1.0); }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-inactive { color: rgba(87, 98, 109, 0.4); }

/* ---Everything below this line is modified template code--- */

/* Layout */
body {
    min-width: 450px;
}

#container {
    padding-left: 150px;
    padding-right: 200px;
}

#container .column {
    position: relative;
    float: left;
}

#center {
    padding: 10px 20px;
    width: 100%;
}

#left {
    width: 100px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    right: 190px;
    margin-left: -100%;
    border: 4px solid #57626D;
    top: -4px;
}

#right {
    width: 100px;
    padding: 0 10px;
    padding-right: 50px;
    margin-right: -100%;
}

/* Aesthetics */
body {
    margin: 0;
    padding: 0;
    background: #BCC0C5;
    color: #57626D;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}

#header {
    font-size: large;
    background: #57626D;
}

#left {
    background: #BCC0C5;
}

#right {
    background: #BCC0C5;
}

#center {
    background: #BCC0C5;
}
/*
#container .column {
    padding-top: 1em;
}
*/
