
html, body, #tbl_wrap {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#td_wrap {
    vertical-align: middle;
    text-align: center;
}

#main_name {
    color: #57626D;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
}
